.lineClient {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style-type: none;
  margin: 15px 0px;
  cursor: pointer;
  padding: 5px 0px;
}

.lineClient:hover {
  background-color: rgb(53, 53, 53);
  color: white;
}

.lineClient span {
  width: 130px;
}

.editClientButton {
  border: none;
  background-color: #1976d2;
  padding: 8px 5px;
  border-radius: 4px;
  color: white;
  margin-right: 5px;
}

.lineMobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
  border-radius: 6px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  margin: 10px 0px;
}

.lineMobile p {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin: 10px 0px;
}

.lineMobile span {
  color: black;
  margin-top: 5px;
  font-weight: normal;
}
